Repository LibreSign/libresign, pull requests merged in 2025-07, with the labels that each got.

#5213 chore(release): Changelog for 11.2.5 and 10.8.5
  CHANGELOG.md
Labels: backport-request

#5159 feat:button open file
  src/Components/RightSidebar/RequestSignatureTab.vue
  src/views/FilesList/FileEntry/FileEntryActions.vue
Labels: frontend, backport-request

#5241 chore: Replace getById by getFirstNodeById
  lib/Helper/ValidateHelper.php
  lib/Migration/Version2040Date20211027183759.php
  lib/Service/AccountService.php
  lib/Service/FileService.php
  lib/Service/FolderService.php
  lib/Service/IdentifyMethod/AbstractIdentifyMethod.php
  lib/Service/SignFileService.php
  tests/php/Unit/Helper/ValidateHelperTest.php
  tests/php/Unit/Service/AccountServiceTest.php
  tests/php/Unit/Service/SignFileServiceTest.php
Labels: backend, backport-request, php

#5245 refactor: replace deprecated PHPUnit returnValue() with willReturn()
  tests/php/Unit/Handler/SignEngine/Pkcs12HandlerTest.php
  tests/php/Unit/Helper/ValidateHelperTest.php
  tests/php/Unit/Service/AccountServiceTest.php
  tests/php/Unit/Service/MailServiceTest.php
  tests/php/Unit/Service/RequestSignatureServiceTest.php
  tests/php/Unit/Service/SignFileServiceTest.php
Labels: backport-request
